<div class="span6">
<h1>${_project.title}</h1>
#{if _mode == 'preview'}
	<p>${_project.teaser}</p>
	<p>
	   <a href="#projectdialog${_project.id}" role="button" class="btn" data-toggle="modal">Details</a>
   </p>
   <!-- Modal Dialog for the project -->
	<div id="projectdialog${_project.id}" class="modal hide fade">
	   <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	      <h3>${_project.title}</h3>
	   </div>
	   <div class="modal-body">
	      <p>${_project.teaser}</p>
	      <p>${_project.description}</p>
	   </div>
	   <div class="modal-footer">
	      <a href="#" class="btn">Close</a> <a href="#" data-project="${_project.id}" class="btn btn-primary apply">Apply</a>
	   </div>
	</div>
#{/if}

#{if _mode == 'full'}
   <p>${_project.teaser}</p>
   <p>${_project.description}</p>
#{/if}
</div>