<li class="span6">
<div class="thumbnail">
<h4>${_project.title}</h4>
#{if _mode == 'preview'}
	<p>${_project.teaser}</p>
	#{if _isPremium}
	<p>
	   <a href="#projectdialog${_project.id}" role="button" class="btn" data-toggle="modal">Details</a>
   </p>
   <!-- Modal Dialog for the project -->
	<div id="projectdialog${_project.id}" class="modal hide fade">
	   <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	      <h3>${_project.title}</h3>
	   </div>
	   <div class="modal-body">
	      <p>${_project.teaser}</p>
	      <p>${_project.description}</p>
	   </div>
	   <div class="modal-footer">
		   <ul class="pager">
		      <li class="previous"><a data-dismiss="modal" href="#">Close</a></li>
	         <li class="next"><a href="#" data-project="${_project.id}" class="applyButton">Apply</a></li>
	      </ul>
	   </div>
	</div>
	#{/if}
#{/if}

#{if _mode == 'overview'}
   <p>${_project.teaser}</p>
   <button class="btn">Delete</button>
  <!-- <a href="#editProjectDialog" data-toggle="modal" class="btn editproject">Edit</a> -->
   <a href="@{Projects.edit(_project.title)}" class="btn">Edit</a>
#{/if}
</div>
</li>