<!DOCTYPE html>

<html>
<head>
<title>#{get 'title' /}</title>
   #{set 'moreStyles'}
	<!-- #{stylesheet 'main.css'/} -->
	<!-- "#{stylesheet 'reset.css'/} -->
   <!-- #{stylesheet 'stimenu.css'/} -->
      #{stylesheet 'style.css'/} 
      #{stylesheet 'bootstrap.css'/} 
   #{/set} 
   #{get 'moreStyles' /} 
   
   #{set 'moreScripts'} 
      #{script 'jquery.min.js'/} 
      #{script 'jquery-ui.min.js'/} 
      #{script 'jquery.easing.1.3.js'/} 
      #{script 'jquery.iconmenu.js'/} 
      #{script 'bootstrap.min.js'/}
      #{script 'applicationHandling.js'/}
   #{/set} 
   #{get 'moreScripts' /}
   
   <script>
    var routes = {
        applicationAction: #{jsAction @Applications.newApplication() /},
        projectAction: #{jsAction @Projects.newProject() /}
    } 
    </script>
</head>
<body>
	<div class="container">
		<div class="navbar clearfix">
			<div class="navbar-inner">
				<!-- CategoryMenu -->
				<ul class="nav nav-pills">
					<li><a href="#">I am a <strong>Company</strong></a></li>
					<li><a href="#">I am a <strong>Designer</strong></a></li>
				</ul>
			</div>
		</div>
		<div class="navbar">
			<div class="navbar-inner">
			   <div id="navwrapper">
				#{include 'Navigation/menu.html'/}
				</div>
         </div>
      </div>

				#{doLayout /}

				<div class="row" id="footer">
					<div class="span12">

						<strong>LetsCoverYou&reg;</strong> is a product of SEBA Group 16
						Team | Powered by <strong>Matthias, Andreas, Anamika and
							Kehinde </strong> || © 2013 All rights reserved
					</div>
				</div>
			</div>
</body>
</html>
