<!DOCTYPE html>

<html>
<head>
<title>#{get 'title' /}</title>
<meta charset="${_response_encoding}">
   #{set 'moreStyles'}
	<!-- #{stylesheet 'main.css'/} -->
	<!-- "#{stylesheet 'reset.css'/} -->
   <!-- #{stylesheet 'stimenu.css'/} -->
      #{stylesheet 'style.css'/} 
      #{stylesheet 'bootstrap.css'/} 
   #{/set} 
   #{get 'moreStyles' /} 
   
   #{set 'moreScripts'} 
      #{script 'jquery.min.js'/} 
      #{script 'jquery-ui.min.js'/} 
      #{script 'jquery.easing.1.3.js'/} 
      #{script 'jquery.iconmenu.js'/} 
      #{script 'bootstrap.min.js'/} 
   #{/set} 
   #{get 'moreScripts' /}
</head>
<body>
	<div class="container">
		<div class="navbar">
			<!-- CategoryMenu -->
			<ul class="nav nav-pills pull-left">
				<li><a href="#">I am a <strong>Company</strong></a></li>
				<li class="active"><a href="#">I am a <strong>Designer</strong></a></li>
			</ul>

			<!-- MainMenu -->
			<ul class="nav nav-pills pull-right">
				<li><a href="@{Application.index()}">Home</a></li>
				<li><a href="@{Projects.list()}">Projects</a></li>
				<li><a href="#">My Profile</a></li>
				<li><a href="#">Applications</a></li>
				<li><a href="#">Sign in</a></li>
			</ul>
		</div>

		#{doLayout /}

		<div class="row" id="uppernav" style="background: #61594e;">
			<div class="span12">
				<!--MegaMenu Starts-->
				<ul class="megamenu">
					<li><a href="#">CONTACT US</a></li>
					<li><a href="#">TERMS & CONDITIONS</a></li>
					<li><a href="#">PRIVACY POLICY</a></li>
					<li><a href="#">ABOUT US</a></li>
					<li><a href="#">HOME</a></li>
				</ul>
				<!--MegaMenu Ends-->
			</div>
		</div>

		<div class="row" id="footer">
			<div class="span12">

				<strong>LetsCoverYou&reg;</strong> is a product of SEBA Group 16
				Team | Site powered by <strong>Matthias, Andreas, Anamika
					and Kenny </strong>
			</div>
		</div>
	</div>
</body>
</html>
