<!DOCTYPE html>

<html>
<head>
<title>#{get 'title' /}</title> #{set 'moreStyles'} #{stylesheet
'style.css'/} #{stylesheet 'stimenu.css'/} #{stylesheet
'bootstrap.css'/} #{/set} #{get 'moreStyles' /} #{set 'moreScripts'}
#{script 'jquery.min.js'/} #{script 'bootstrap.min.js'/} #{script
'loginHandling.js'/} #{script 'applicationHandling.js'/} #{script
'projectHandling.js'/} #{script 'premiumAccount.js'/} #{/set} #{get
'moreScripts' /}

<script>
   //Mapping for JavaScript Actions
    var routes = {
        applicationAction: #{jsAction @Applications.newApplication() /},
        projectAction: #{jsAction @Projects.newProject() /},
        applicationListing: #{jsAction @Applications.list() /},
        paymentAction: #{jsAction @Application.premimumPayment() /},
        applDismissAction: #{jsAction @Applications.dismiss() /},
        applAcceptAction: #{jsAction @Applications.accept() /}
    }
    </script>
    
    <script type="text/javascript">
var SHRSB_Settings = {"shr_class":{"src":"/public/shareaholic","link":"","service":"5,7,304,88,313,52,54,2,38,309,219,74,3,40","apikey":"0747414f47c2b684cf5480c36b2478689","localize":true,"shortener":"bitly","shortener_key":"","designer_toolTips":true,"tip_bg_color":"black","tip_text_color":"white","twitter_template":"${title} - ${short_link} via @fawukenny"}};
var SHRSB_Globals = {"perfoption":"1"};
</script>
<script type="text/javascript">
(function() {
var sb = document.createElement("script"); sb.type = "text/javascript";sb.async = true;
sb.src = ("https:" == document.location.protocol ? "https://dtym7iokkjlif.cloudfront.net" : "http://cdn.shareaholic.com") + "/media/js/jquery.shareaholic-publishers-sb.min.js";
var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(sb, s);
})();
</script>

</head>
<body>
	<div class="navbar clearfix">
		<div class="navbar-inner">
			<!-- CategoryMenu -->
			<ul class="nav nav-pills">
				<li><a href="@{Registration.company()}">I am a <strong>Company</strong></a></li>
				<li><a href="@{Registration.designer()}">I am a <strong>Designer</strong></a></li>
			</ul>
			<ul>
				<li id="navwrapper" class="pull-right">#{include
					'Navigation/menu.html'/}</li>
			</ul>

		</div>
		<div id="infoArea">#{include 'Extensions/infoarea.html'/}</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="span12">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="47%"><img src="/public/images/main_logo.svg"
							width="424" height="203" alt="findagui" /></td>
						<td width="53%">
							<div class="welcometext" style="font-size: 130%">We offer a
								win-win platform for businesses, experienced software developers
								and professional User Interface (UI) Designers in order to
								engender possible collaborations and stunning web developments.</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		#{doLayout /}

		<div class="row" id="footer" style="margin: -10px -25px 0 0">#{include
			'Navigation/footer.html'/}</div>
	</div>
	<div id="extensionArea">#{include 'Extensions/extension.html'/}</div>
</body>
</html>
