#{extends 'main.html' /} 
#{set title:'Home' /}

<div class="row">
	<div class="span12">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td width="47%"><img src="/public/images/main-logo.png"
					width="424" height="203" alt="Let's cover You" /></td>
				<td width="53%">
					<div class="welcometext">We offer a win-win platform for businesses, experienced software 
					developers and professional User Interface (UI) Designers in order to engender 
					possible collaborations and stunning web developments.</div>

				</td>
			</tr>
		</table>
	</div>
</div>

<div class="row content" align="center" style="padding-top:20px;">
	
		<ul>
				<li style="width:24%; float:left; border-right: 1px dotted;">
				
						<h5>PROJECT LISTINGS</h5>
						<img data-type="icon" src="/public/images/01.png"/>
						<a href="projects/list"><img data-type="icon" src="/public/images/getstarted.png"/> </a>
						
				</li>
				<li style="width:24%; float:left;border-right: 1px dotted;">
					
						<h5>COMPANY LISTINGS</h5>
						<img data-type="icon" src="/public/images/03.png"/>
						<a href="#"><img data-type="icon" src="/public/images/getstarted.png"/> </a>
						
				</li>
				<li style="width:24%; float:left;border-right: 1px dotted;">
					
						<h5>UP FOR GRABS!</h5>
						<img data-type="icon" src="/public/images/02.png"/>
						<a href="#"><img data-type="icon" src="/public/images/getstarted.png"/> </a>
						
				</li>
				<li style="width:24%; float:left; margin-bottom:20px;">
					
						<h5><b>PREMIUM ACCOUNTS</b></h5>
						<img data-type="icon" src="/public/images/04.png"/>
						<a href="registration/designer"><img data-type="icon" src="/public/images/getstarted.png"/> </a>
						
				</li>
				
	  </ul>

		<br style="clear: both" />
	</div>

<hr />

<div class="row content">
	<div>

		<div align="center" style="padding: 5px; padding-top: 10px; margin-top: 15px; border-top: 1px dotted #e7d6ae; color: #453825; font-size: 90%;">
			We offer a win-win platform for businesses, experienced software developers and professional 
			<br> User Interface (UI) Designers  in order to engender possible collaborations and stunning web developments.</div>

		
		<div
			style="padding: 5px; padding-top: 10px; margin-top: 15px; border-top: 1px dotted #e7d6ae; color: #453825; font-size: 90%; text-align: center;"
			class="im_margin">
			<img src="/public/images/companies/cornerstone_grey.jpg" width="135"
				height="60" align="middle" /><img
				src="/public/images/companies/gtassure_grey.jpg" width="70"
				height="68" align="middle" /><img
				src="/public/images/companies/gni_grey.jpg" width="100" height="61"
				align="middle" /><img src="/public/images/companies/nem_grey.jpg"
				width="158" height="46" align="middle" /><img
				src="/public/images/companies/royalexchange_grey.jpg" width="170"
				height="31" align="middle" />
		</div>
	</div>
</div>
<div id="uppernav">

	<!--MegaMenu Starts-->
	<ul>
		<li><a href="#">CONTACT US</a></li>
		<li><a href="#">FAQS/HOW TO</a></li>
		<li><a href="#">BLOG</a></li>
		<li><a href="#">TERMS & CONDITIONS</a></li>
		<li><a href="#">PRIVACY POLICY</a></li>
		<li><a href="#">ABOUT US</a></li>
		<li><a href="#">HOME</a></li>
	</ul>
	<!--MegaMenu Ends-->

</div>