#{extends 'main.html' /}
#{set title:'Home' /}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="47%"><img src="/public/images/logo_bg.png"
						width="424" height="203" alt="Let's cover You" /></td>
					<td width="53%">
						<div class="welcometext">Aliquam sagittis eleifend mauris,
							in tempus ante congue eget. Integer elit massa, lobortis at
							scelerisque ut, tincidunt id ligula. Aenean suscipit pulvinar
							vestibulum. Mauris at metus non justo semper venenatis. Ut sit
							amet magna quam, sed hendrerit turpis.</div>

					</td>
				</tr>
			</table>
			<br />

			<div class="content">

				<ul id="sti-menu" class="sti-menu">
					<li data-hovercolor="#53c4c7"><a href="#">
							<h2 data-type="mText" class="sti-item">PROJECT LISTINGS</h2>
							<h3 data-type="sText" class="sti-item">In elit sem, sodales
								in vestibulum ut, malesuada eu sem. Phasellus fermentum augue at
								sem imperdiet accumsan.</h3> <span data-type="icon"
							class="sti-icon sti-icon-personal sti-item"></span><img
							data-type="icon" src="/public/images/getstarted.png" width="150"
							height="48" class="sti-item btn" />
					</a></li>
					<li data-hovercolor="#53c4c7" class="line"><a href="#">
							<h2 data-type="mText" class="sti-item">COMPANY LISTINGS</h2>
							<h3 data-type="sText" class="sti-item">In elit sem, sodales
								in vestibulum ut, malesuada eu sem. Phasellus fermentum augue at
								sem imperdiet accumsan.</h3> <span data-type="icon"
							class="sti-icon sti-icon-marine sti-item"></span> <img
							data-type="icon" src="/public/images/getstarted.png" width="150"
							height="48" class="sti-item btn" />
					</a></li>
					<li data-hovercolor="#53c4c7" class="line"><a href="#">
							<h2 data-type="mText" class="sti-item">UP FOR GRABS!</h2>
							<h3 data-type="sText" class="sti-item">In elit sem, sodales
								in vestibulum ut, malesuada eu sem. Phasellus fermentum augue at
								sem imperdiet accumsan.</h3> <span data-type="icon"
							class="sti-icon sti-icon-motor sti-item"></span> <img
							data-type="icon" src="/public/images/getstarted.png" width="150"
							height="48" class="sti-item btn" />


					</a></li>
					<li data-hovercolor="#53c4c7" class="line"><a href="#">
							<h2 data-type="mText" class="sti-item">PREMIUM ACCOUNTS</h2>
							<h3 data-type="sText" class="sti-item">In elit sem, sodales
								in vestibulum ut, malesuada eu sem. Phasellus fermentum augue at
								sem imperdiet accumsan.</h3> <span data-type="icon"
							class="sti-icon sti-icon-household sti-item"></span><img
							data-type="icon" src="/public/images/getstarted.png" width="150"
							height="48" class="sti-item btn" />
					</a></li>

				</ul>


				<br style="clear: both" />
			</div>

			<br />

			<div class="content">
				<img src="/public/images/adbanner.png" width="960" height="150" />

				<div
					style="padding: 5px; padding-top: 10px; margin-top: 15px; border-top: 1px dotted #e7d6ae; color: #453825; font-size: 90%;">Duis
					dignissim euismod fringilla. Duis ornare luctus sem id varius.
					Quisque eros purus, euismod et hendrerit quis, congue eget ante.
					Maecenas at nisl eu erat pellentesque tempor. Duis blandit lobortis
					erat sit amet iaculis. Nunc ultrices lacus tincidunt augue dictum
					in lobortis felis sagittis.</div>
				<div
					style="padding: 5px; padding-top: 10px; margin-top: 15px; border-top: 1px dotted #e7d6ae; color: #453825; font-size: 90%; text-align: center;"
					class="im_margin">
					<img src="/public/images/companies/cornerstone_grey.jpg"
						width="135" height="60" align="middle" /><img
						src="/public/images/companies/gtassure_grey.jpg" width="70"
						height="68" align="middle" /><img
						src="/public/images/companies/gni_grey.jpg" width="100"
						height="61" align="middle" /><img
						src="/public/images/companies/nem_grey.jpg" width="158"
						height="46" align="middle" /><img
						src="/public/images/companies/royalexchange_grey.jpg" width="170"
						height="31" align="middle" />
				</div>
			</div>