#{extends 'main.html' /} 
#{set title:'Home' /}


<div class="row content" align="center" style="padding:20px 0 20px 60px;">
	
		
<ul id="sti-menu" class="sti-menu">
				
				<li>
					<a href="projects/list">
						<h2 data-type="mText" class="sti-item">DESIGNER SECTION</h2>
						<h3 data-type="sText" class="sti-item">Your passion is creating fresh looking, user-friendly 
						designs and you are looking for a job? Find out how it works.</h3>
						<span data-type="icon" class="sti-icon sti-icon-designer sti-item"></span><img data-type="icon" src="/public/images/getstarted.png" width="150" height="48" class="sti-item btnn" />
					</a>
				</li>
				
				<li class="line" style="margin-top:-7px;">
					<a href="#">
						<h2 data-type="mText" class="sti-item">COMPANY SECTION</h2>
						<h3 data-type="sText" class="sti-item">You are in need of an appealing design for you application and 
						you are looking for the right person to do it? <br/> Find out how it works.</h3>
						<span data-type="icon" class="sti-icon sti-icon-company sti-item"></span><img data-type="icon" src="/public/images/getstarted.png" width="150" height="48" class="sti-item btnn" />
					</a>
				</li>	
	  </ul>

		<br style="clear: both" />
	</div>

<hr />

<div class="row content">
	<div>

		<div align="center" style="padding: 5px; padding: 20px 0 20px 60px; margin-top: 15px; border-top: 1px dotted #e7d6ae; color: #453825; font-size: 90%;">
			We offer a win-win platform for businesses, experienced software developers and professional 
			<br> User Interface (UI) Designers  in order to engender possible collaborations and stunning web developments.</div>

		
		<div
			style="padding-top: 10px; margin-top: 15px; margin-left: -15px; border-top: 1px dotted #e7d6ae; color: #453825; font-size: 90%; text-align: center;"
			class="im_margin">
			<img src="/public/images/spbanner.png" width="960"
				height="150" align="middle" />
		</div>
	</div>
</div>
