#{extends 'main.html' /}
#{set title:'Login' /}

<div id="maincontent"> 
<div>
&nbsp
</div>
<h2 class="title">Already Registered?</h2>
	#{ifErrors}
	   <h1><span class="error">Oops. Please Correct the Information..</span></h1>
	#{/ifErrors}
	 #{form @check() , id:'creationForm'}
		<fieldset>
			<label>E-mail Address</label><br />
			<input type="text"  class="text-input" name="email" value="${flash.email}"/>
			<span class="errorClass">#{error 'email' /}</span><br />
			<label>Password</label><br />
			<input type="password" class="text-input" name="password" value="${flash.password}"/>
			<span class="errorClass">#{error 'password' /}</span><br /><br />
		
			<input type="button" class="button  but-red" value="Account login" onclick='submit();' />
	    </fieldset>
    #{/form}
    </br>
	<a href="#">Forgot Your Passowrd</a></br>
	
	<a href="#">Create Account</a></br>
	
</div>

            
            <div class="clear"></div><!-- clear float -->
		