#{if designer && !isPremium}
<div class="alert alert-error" style="text-align: center">You are
	not a Premium User. If you want to see project details and apply for
	projects, purchase a premium account on monthly, half-yearly or yearly Basis </div>
#{/if}
#{if designer && isPremium}
<div class="alert alert-success" style="text-align: center">Welcome!!!You are now A Premium User</div>
#{/if}

#{if company && isEdited}
<div class="alert alert-error" style="text-align: center">You have successfully edited the project. 
<a class="btn" href="@{Projects.myprojects(company.id)}"> See changes in Projects List </a></div>

#{/if}
