#{extends 'main.html' /}

#{set title:'Available Projects' /}
#{if projects}
	<ul class="thumbnails content">
	#{list items:projects, as:'projectItem'}
		#{project project:projectItem, mode:'preview', isPremium: isPremium/}
	#{/list}
	</ul>
#{/if}

#{else}
	<div class="row content">
		No projects listed yet.
	</div>
#{/else}

#{if isPremium}
<!-- Modal Dialog for applications -->
<div id="applicationDialog" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">&times;</button>
		<h3>Application</h3>
	</div>
	<div class="modal-body">
	<form id="applicationForm" enctype="multipart/form-data">
	  <fieldset>
      <label>Sketch</label>
      <input type="file" id="file"></input>
      <label>Description</label>
      <textarea rows="5" class="span7" id="description"></textarea>
      </fieldset>
   </form>
	</div>
	<div class="modal-footer">
		<ul class="pager">
			<li class="next"><a href="#" id="applSave">Apply</a></li>
		</ul>
	</div>
</div>
#{/if}