#{if applications}
<ul class="thumbnails">
	#{list items:applications, as:'applItem'}
	<li class="span8 applicationItem">
		<div class="thumbnail" id="application${applItem.id}">
		   <h3>${applItem.designer.firstName} ${applItem.designer.lastName}</h3>
			<img src="@{Applications.getProposal(applItem.id)}" alt=""/>
			<p>${applItem.explanation}</p>
			#{if applItem.isAccepted}
           <h3>Application is accepted!</h3>
         #{/if}
         #{else}
         <p>
           <a class="btn appldismiss" data-applicationid="${applItem.id}">Dismiss</a>
           <a href="#applicationDetailDialog${applItem.id}" class="btn pull-right" data-toggle="modal">Details</a>
         </p>
         <!-- Modal Dialog for application-details -->
         <div id="applicationDetailDialog${applItem.id}" class="modal hide fade">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h3>Application-Detail</h3>
            </div>
            <div class="modal-body">
               <h4>${applItem.designer.firstName} ${applItem.designer.lastName}</h4>
               <div class="pull-left">
                 <img width="150" height="100" src="@{Applications.getProposal(applItem.id)}"/>
               </div>
               <div class="clearfix" style="padding-left:170px">
                  <p>${applItem.explanation}</p>
               </div>
            </div>
            <div class="modal-footer">
               <ul class="pager">
                  <div class="pull-right"><a class="btn applaccept" data-applicationid="${applItem.id}">Accept</a></div>
               </ul>
            </div>
         </div>
         #{/else}
		</div>
	</li> 
	#{/list}
</ul>
#{/if} 
#{else}
<h4>No applications listed yet.</h4>
#{/else}
