<!-- MainMenu -->
	#{if designer}
	<ul class="nav pull-right">
		<li class="dropdown" id="menuLogin"><a class="dropdown-toggle"
			href="#" data-toggle="dropdown" id="navLogin">${designer}</a>
			<ul class="dropdown-menu" style="padding: 17px;">
				<li><a class="btn" id="btnLogout" href="@{Secure.logout()}">Logout</a></li>
			</ul></li>
	</ul>
	<ul class="nav pull-right">
		<li><a href="@{Application.index()}">Home</a></li>
		<li><a href="@{Projects.list()}">Browse</a></li>
		<li><a href="#">My Applications</a></li>
		<li><a href="#">Profile</a></li>
	</ul>
	#{/if}
	#{elseif company}
	<ul class="nav pull-right">
      <li class="dropdown" id="menuLogin"><a class="dropdown-toggle"
         href="#" data-toggle="dropdown" id="navLogin">${company.companyName}</a>
         <ul class="dropdown-menu" style="padding: 17px;">
            <li><a class="btn" id="btnLogout" href="@{Secure.logout()}">Logout</a></li>
         </ul></li>
   </ul>
   <ul class="nav pull-right">
      <li><a href="@{Application.index()}">Home</a></li>
      <li><a href="#">Post a project</a></li>
      <li><a href="#">Review applications</a></li>
      <li><a href="#">My Projects</a></li>
   </ul>
	#{/elseif}
	#{else}
	<ul class="nav pull-right">
      <li class="dropdown" id="menuLogin"><a class="dropdown-toggle"
         href="#" data-toggle="dropdown" id="navLogin">Login</a>
         <div class="dropdown-menu" style="padding: 17px;">
            <form class="form" id="formLogin">
               <input name="username" id="username" type="text"
                  placeholder="Username"> <input name="password"
                  id="password" type="password" placeholder="Password"><br>
               <button type="button" id="btnLogin" class="btn">Login</button>
            </form>
         </div></li>
   </ul>
#{/else}