#{extends 'main.html' /} 
#{set title:'About Us' /}

<div class="row content" align="left" style="padding:25px;">

<h3>About Us </h3>
<hr>
<div align="center" width="100%">
<ul>
				<li style="width:24%; float:left; border-right: 1px dotted;">
				
						<h5>ANDREAS WAGNER</h5>
						<img data-type="icon" src="/public/images/andreas.png"/>
						<div align="center" style="padding: 5px; padding-top: 10px; margin-top: 15px; border-top: 1px dotted #e7d6ae; color: #453825; font-size:90%;">
			<b>CEO</b> <br>aw@findagui.com</div>
										
				</li>
				<li style="width:24%; float:left;border-right: 1px dotted;">
					
						<h5>MATTHIAS STIERLE</h5>
					<img  src="/public/images/matthias.jpg" width="61%"/>
							<div align="center" style="padding: 5px; padding-top: 10px; margin-top: 15px; border-top: 1px dotted #e7d6ae; color: #453825; font-size:90%;">
			<b>Business Development</b> <br>ms@findagui.com</div>
						
				</li>
				<li style="width:24%; float:left;border-right: 1px dotted;">
					
						<h5>ANAMIKA CHOWDHURY</h5>
						<img  src="/public/images/anamika.jpg" width="57%" />
							<div align="center" style="padding: 5px; padding-top: 10px; margin-top: 15px; border-top: 1px dotted #e7d6ae; color: #453825; font-size:90%;">
			<b>Technology Lead</b> <br>ac@findagui.com</div>
							
				</li>
				<li style="width:24%; float:left; margin-bottom:20px; margin-right:30px;">
					
						<h5><b>KEHINDE FAWUMI</b></h5>
						<img data-type="icon" src="/public/images/kenny.jpg" />
							<div align="center" style="padding: 5px; padding-top: 10px; margin-top: 15px; border-top: 1px dotted #e7d6ae; color: #453825; font-size:90%;">
			<b>Design and Corporate Governance</b> <br>kf@findagui.com</div>
				</li>
				
	  </ul>
</div>
</div>
 