#{extends 'main.html' /} 
#{set title:'How it Works - For Companies' /}

<div class="row content" align="left" style="padding:25px;">

<h3>How it Works - for Companies</h3>
<hr>
	  
<p><span style="width:24%; float:left; border-right: 1px dotted; margin:10px;"><img data-type="icon" src="/public/images/04.png"/></span>
<strong><img src="/public/images/main_logo.svg" width="73" height="35" alt="findagui" 
		style="margin-top:-4px;">&reg;</strong> is a platform for businesses, experienced software developers and professional User Interface (UI) Designers in order to engender possible collaborations and stunning web developments.
		
		<p>
We offer companies that are looking for skilled GUI designers the possibility to post there projects on our website. We have a range of experienced, professional designers registered on our website that are constantly browsing the projects posted on our page. In case they find your listing attractive, they will apply with already a concrete draft of the proposed design attached.
This gives you the possibility to already have a clear vision of the skills and ideas the designers is bringing with him. Try it out!

</p>

	
  <p align="right"><form id="form1" method="post" action="@{Registration.company()}" style="float:right;"><input type="submit" class="btn" value="Register Now!" /></p>
    
   </p>
 </div>  

 