#{extends 'main.html' /} 
#{set title:'How it Works - For Designers' /}

<div class="row content" align="left" style="padding:25px;">

<h3>How it Works - for Designers </h3>
<hr>
	  
<p><span style="width:24%; float:left; border-right: 1px dotted; margin:10px;"><img data-type="icon" src="/public/images/04.png"/></span>
<strong><img src="/public/images/main_logo.svg" width="73" height="35" alt="findagui" 
		style="margin-top:-4px;">&reg;</strong> is a platform for businesses, experienced software developers and professional User Interface (UI) Designers in order to engender possible collaborations and stunning web developments.
		
		<p>
We offer skilled and motivated designers the possibility to find attractive jobs on our website. We have interesting projects of companies searching for fresh-looking, modern designs suiting their business needs. Register now for free to see open projects.
</p>
<p>

In case you want to get to know more details about the projects, you will have to register for a Premium Account. However, if you successfully deliver a project we will reimburse you or offer you a free extension of your Premium Account!
</p>
    <hr>
	<p align="right"><form id="form1" method="post" action="@{Registration.designer()}" style="float:right;"><input type="submit" class="btn" value="Register Now!" /></p>
     </p>
 </div>  

 